[submodule "libraries/pico-extras"]
	path = libraries/pico-extras
	url = https://github.com/raspberrypi/pico-extras
[submodule "libraries/pico-examples"]
	path = libraries/pico-examples
	url = https://github.com/raspberrypi/pico-examples
[submodule "libraries/picoprobe"]
	path = libraries/picoprobe
	url = https://github.com/raspberrypi/picoprobe.git
